<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yayang.setiyawan.uasmobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/wisata"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WisataProject">
        <activity android:name="yayang.setiyawan.uasmobile.UpdateActivity"></activity>
        <activity android:name="yayang.setiyawan.uasmobile.SettingActivity" />
        <activity android:name="yayang.setiyawan.uasmobile.DetailActivity" />
        <activity android:name="yayang.setiyawan.uasmobile.DashboardActivity" />
        <activity android:name="yayang.setiyawan.uasmobile.CreateTourismActivity" />
        <activity android:name="yayang.setiyawan.uasmobile.WisataActivity" />
        <activity android:name="yayang.setiyawan.uasmobile.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>